<div id="page_wrapper">
  <div id="content">
    <h1>About B.log</h1>
    <p>A demo project to practice knowledge gained from having completed the Ruby on Rails Tutorial 6th Edition from O'Reilly.</p>
  </div>
</div>
